<div class=new_toy_form>
<%= form_with model: toy do |t| %>

  <%= t.label :name %><br>
  <%= t.text_field :name %><br>

  <%= t.label :description %><br>
  <%= t.text_field :description %><br>

  <%= t.label :date_item_posted %><br>
  <%= t.date_field :date_item_posted %><br>

  <%= t.label :user %><br>
  <%= t.text_field :user %><br>

  <div> 
    <%= t.label :picture%>
    <%= t.file_field :picture, accept: 'image/png,image/gif,image/jpg,image/jpg' %>
  </div>

  <%= t.submit %>

<% end %>
</div>